/* CheckNCreate.css */
.check-n-create {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 25vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: margin-top 1s ease; /* Добавляем переход для свойства margin-top */
  }
  
  /* Добавляем новый класс для изменений во время скролла */
  .check-n-create.scrolled {
    margin-top: 6vh;
  }
  
  .black-bar {
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 10px; /* Регулируем отступ от верхней границы */
  }
  .black-bar2 {
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 10px; /* Регулируем отступ от верхней границы */
  }

  .gradient-rectangle {
    margin-top: 2vh;
    left:33vw;
    position: relative;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    width: 30%;
    text-align: center;
    font-family: 'GothamProBold';
    color: #fff;
    white-space: normal;
    border-radius: 10px;
  }
  
  .text-checkn {
    font-family: 'GothamPro';
    color: #fff;
    font-size: 36px;
  }
  
  .black-frame {
    position: absolute;
    margin-top: 0;
    width: calc(100% + 2px); /* Изменим ширину */
    height: calc(100% + 2px); /* Изменим высоту */
    border: 1px solid #fff;
    border-radius: 10px;
  }