.app {
  background-image: url('./imgs/kazan_one.png') ;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  
  
}
.main{
  width: 100%;
}


/* Остальные стили вашего сайта */
@font-face{
  font-family: GothamPro;
  src:url(./fonts/gothampro.ttf);
}
@font-face {
  font-family: GothamProBlack;
  src: url(./fonts/gothampro_black.ttf);
}
@font-face {
  font-family: GothamProBlackItalic;
  src: url(./fonts/gothampro_blackitalic.ttf);
}
@font-face {
  font-family: GothamProBold;
  src: url(./fonts/gothampro_bold.ttf);
}
@font-face {
  font-family: GothamProBoldItalic;
  src: url(./fonts/gothampro_bolditalic.ttf);
}
@font-face {
  font-family: GothamProItalic;
  src: url(./fonts/gothampro_italic.ttf);
}
@font-face {
  font-family: GothamProLight;
  src: url(./fonts/gothampro_light.ttf);
}
@font-face {
  font-family: GothamProLightItalic;
  src: url(./fonts/gothampro_lightitalic.ttf);
}
@font-face {
  font-family: GothamProBoldMedium;
  src: url(./fonts/gothampro_medium.ttf);
}
@font-face {
  font-family: GothamProBoldMediumItalic;
  src: url(./fonts/gothampro_mediumitalic.ttf);
}